<% @page_title = "一覧" %>
<h2><%= @page_title %></h2>

<div class="commands">
  <%= link_to '新規追加', [:moneyrecord, :new] %>
</div>


<%if @moneyrecords.present? %>
<table border="1">
    <thread>
        <tr>
            <th>月</th>
            <th>日</th>
            <th>名称</th>
            <th>金額</th>

            <th>操作</th>
            
        </tr>
    </thread>
    <tbody>
        <% @moneyrecords.each do |moneyrecord| %>
            <tr>
                <td><%= moneyrecord.month %></td>
                <td><%= moneyrecord.day %></td>
                <td><%= moneyrecord.item %></td>
                <td><%= moneyrecord.amount %></td>
                <td>
                <%= link_to '削除', "/moneyrecord/#{moneyrecord.id}", method: :delete %>
                <%= link_to '編集', "/moneyrecord/#{moneyrecord.id}" %>
     
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% else %>
    <p>未登録</p>
<% end %>

<ul>
<%= link_to "TOP", :top %>
</ul>